<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:annotation-config />
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
  
	<bean id="CloDao" class="pk.edu.nust.seecs.gradebook.dao.CloDao"></bean>
        <bean id="ContentDao" class="pk.edu.nust.seecs.gradebook.dao.ContentDao"></bean>
        <bean id="CourseDao" class="pk.edu.nust.seecs.gradebook.dao.CourseDao"></bean>
        <bean id="GradeDao" class="pk.edu.nust.seecs.gradebook.dao.GradeDao"></bean>
        <bean id="StudentDao" class="pk.edu.nust.seecs.gradebook.dao.StudentDao"></bean>
        <bean id="TeacherDao" class="pk.edu.nust.seecs.gradebook.dao.TeacherDao"></bean>
        
        <bean id="Clo" class="pk.edu.nust.seecs.gradebook.entity.CloDaoBO">
            <List>
                <ref>a1</ref>
                <ref>a2</ref>
                <ref>a3</ref>
                <ref>a4</ref>
            </List>
	 </bean>
                  
 
</beans> 
